.Grid {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-auto-rows: 25px; 
gap: 0rem;
width: 100vw;
height: 100vh;
}

.Grid > * {
overflow-wrap: break-word;
word-break: break-word;
white-space: normal;
min-width: 0;
}

.Grid_Table { 
grid-column:4/10;
grid-row:7/17; }