.Grid {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-auto-rows: repeat(15, 1fr); 
gap: 0.5rem;
width: 100vw;
height: 100vh;
}

.Grid > * {
overflow-wrap: break-word;
word-break: break-word;
white-space: normal;
min-width: 0;
}

.Image_1{
grid-column:2/5;
grid-row:3/9;
width:100%;
height:100%;
}

.Image_2{
grid-column:2/3;
grid-row:9/11;
width:100%;
height:100%;
}

.Image_3{
grid-column:4/5;
grid-row:9/11;
width:100%;
height:100%;
}

.Text_1{
grid-column:6/12;
grid-row:3/4;
}

.Text_2{
grid-column:6/12;
grid-row:4/8;
}

.Dropdown_1{
grid-column:6/12;
grid-row:9/10;
}

.Button_1{
grid-column:6/12;
grid-row:11/12;
}
.Text_1_2{
grid-column:5/9;
grid-row:2/3;
}

.Text_2_2{
grid-column:2/12;
grid-row:4/7;
}

.Table_1_2{
grid-column:2/12;
grid-row:9/14;
}